@model PICancel.Models.PICancelMenu

<div id="wrapper">
    <ul class="navbar-nav bg-dark sidebar sidebar-dark accordion  " id="accordionSidebar">
        <li class="nav-item">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="http://10.29.1.87/TRDI">
                <div class="sidebar-brand-icon  ">
                    <img src="~/img/Logo_ROHM.svg.png" style="height:5vh;" />
                </div>
                <div class="sidebar-brand-text mx-3">TRDI <u>CANCEL</u> </div>
            </a>

            <hr class="sidebar-divider my-0" />
        </li>
        <li class="nav-item">
            <a class="nav-link  nav-link1 " href="~/home/index">
                <i class="fas fa-home"></i>
                <span class=" font-weight-bold"> HOME </span>
            </a>
        </li>
        <li class="nav-item"><div class="sidebar-heading">Tr Di</div><hr class="sidebar-divider" /></li>
        <div id="testMenu">

        </div>

        @*<li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fas fa-bars"></i><span>PI CANCEL</span>
            </a>
            <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner" id="testMenu">

                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo3" aria-expanded="true" aria-controls="collapseTwo3">
                <i class="fas fa-check-circle"></i><span>OGI CANCEL CONFIRM</span>
            </a>
            <div id="collapseTwo3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded" id="testMenu1">
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo4" aria-expanded="true" aria-controls="collapseTwo4">
                <i class="fas fa-registered"></i>
                <span>ROHM ORDER</span>
            </a>
            <div id="collapseTwo4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header  bg-info text-white mb-1">ROHM ORDER</h6>
                    <a class="collapse-item" href="http://10.29.1.87/Ristsystem/">Rist System</a>
                    <a class="collapse-item" href="http://10.29.1.87/Surplus/">Surplus/Fraction Inquiry</a>
                    <a class="collapse-item" style="text-align:left;" href="http://10.29.1.87/FractionWaitTreatment">Fraction Wait Treatment</a>
                </div>
            </div>
        </li>*@

        <hr class="sidebar-divider d-none d-md-block">
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul> 